
<p id="notice"><%= notice %></p>

<h1>My Pictures</h1>

<script type="text/javascript" src="http://webos-goodies.googlecode.com/svn/trunk/products/jslib/draggable_grid/draggable_grid.js"></script>

<style type="text/css">
  .draggable {
    display: inline-block;
    vertical-align: top;
    width: 202px;
    height: 220px;
    zoom: 1;
    *display: inline;
    border: solid 1px ;
  }
  .handle {
    height: 20px;
    background-color: #ccc;
  }
</style>


<div id="grid">
  <% @pictures.each do |picture| %>
  <div class="draggable">
    <div class="handle"></div>
    Date: <%= picture.created_at.to_s.split(' ').first + ' ' + picture.created_at.to_s.split(' ').second  %>
   <!-- <%= image_tag picture.picture.url(:thumb) %> -->
    <%= link_to image_tag(picture.picture.url(:thumb)), picture.picture.url ,:rel => "lightbox[0]"%>
    <%= link_to 'Original', picture %>
    <%= link_to 'Edit', edit_picture_path(picture) %>
    <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  new DraggableGrid('grid',  { handleClass: 'handle' });
</script>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.name %></td>
      <td><%= picture.picture %></td>
      <td><%= link_to 'Show', picture %></td>
      <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
      <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
-->
<br>
<%= link_to 'New Picture', new_picture_path %>
<br>
<br>



